name: Terraform CI/CD

on:
  pull_request:
    branches: ["develop", "main"]
  push:
    branches: ["main"]

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login (Client Secret)
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          auth-type: "sp"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.5

      - name: Terraform Init
        working-directory: infra
        run: terraform init

      - name: Terraform Validate
        working-directory: infra
        run: terraform validate

      - name: Terraform Plan on PR
        if: github.event_name == 'pull_request'
        working-directory: infra
        run: terraform plan -var-file="env/dev.tfvars"

      - name: Terraform Apply on MAIN push
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        working-directory: infra
        run: terraform apply -auto-approve -var-file="env/dev.tfvars"
